@model IEnumerable<SMS.Models.Job>
@{


    ViewBag.Title = " Job Cards Archive";
    bool ChkVal = (ViewBag.Chk as bool?).Value;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h3 style="color:royalblue;">
                <i class="fa fa-fw fa-archive"></i> Complete Job Cards&nbsp;&nbsp;

                <form action="/Job/JobCardArchive" class="form-inline" style="float:right;">
                    <div class="form-group">
                        @Html.CheckBox("WithDate", ChkVal)
                    </div>
                    <div class="input-group date">
                        @Html.TextBox("Start", ViewBag.StartDate as string,
                                    new
                                    {
                                        @readonly = "true",
                                        @class = "form-control input-sm",
                                        @data_provide = "datepicker",
                                        @data_date_autoclose = "true",
                                        @style = "cursor:pointer;"
                                    })
                        <div class="input-group-addon">
                            <span class="fa fa-fw fa-calendar"></span>
                        </div>
                    </div>
                    <div class="input-group date">
                        @Html.TextBox("End", ViewBag.EndDate as string,
                                    new
                                    {
                                        @readonly = "true",
                                        @class = "form-control input-sm",
                                        @data_provide = "datepicker",
                                        @data_date_autoclose = "true",
                                        @style = "cursor:pointer;"
                                    })
                        <div class="input-group-addon">
                            <span class="fa fa-fw fa-calendar"></span>
                        </div>
                    </div>
                    <div class="form-group">

                        <input type="text" id="q" name="q" class="form-control input-sm"
                               placeholder="Search Keywords" value="@ViewBag.Keywords" />
                        <button id="btnSearch" type="submit" class="btn btn-sm btn-success">
                            <i class="fa fa-fw fa-search"></i> Search
                        </button>

                        @if (ViewBag.Keywords != "")
                        {
                            <span style="display:inline-block;">
                                <i style="color:red;" class="fa fa-fw fa-times"></i>
                                <a title="Clear Search" href="@Url.Content("~/Job/JobCardArchive")">Clear Search</a>
                            </span>
                        }
                    </div>
                </form>
            </h3>

            @*<div class="panel panel-primary">
                <div class="panel-body">*@
            @{

                if (ViewBag.Info != null)
                {
                    <!-- Message OK -->
                    <div class="alert alert-info">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>@ViewBag.Info</strong>
                    </div>
		            <!-- End Message OK -->
                }
                else if (ViewBag.Error != null)
                {
		            <!-- Message Error -->
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <p><strong>@ViewBag.Error</strong></p>
                    </div>
		            <!-- End Message Error -->
                }
            }

            @using GridMvc.Html

            @Html.Grid(Model).Columns(
col =>
{
    col.Add(i => i.JobID).Titled("JID").Sortable(true).Filterable(true);
    col.Add(i => i.JobCardCreateDate).Titled("Create Date").Filterable(true).Sortable(true).Format("{0:dd MMM, yy}");
    col.Add(i => i.WingName).Titled("Wing").Sortable(true).Filterable(true);
    col.Add(i => i.JobNo).Titled("Job No").Sortable(true).Filterable(true);
    col.Add(i => i.QueryFor).Titled("Query For").Filterable(true).Sortable(true);
    col.Add(i => i.Customer.Name).Titled("Customer Name").Filterable(true).Sortable(true);
    col.Add(i => i.JobTitle).Titled("Job Title").Filterable(true).Sortable(true);
    col.Add(i => i.ServiceCharge).Titled("Service Charge").Filterable(true).Sortable(true).Format("{0:N2}");
    
    col.Add(i => i.Expense).Titled("Expense").Filterable(true).Sortable(true).Format("{0:N2}");
    col.Add().Titled("Product").Encoded(false).Sanitized(false).RenderValueAs(m =>
        @<text>
            @Html.Raw(m.ProductNames)
        </text>
        );
    col.Add().Titled("Service People").Encoded(false).Sanitized(false).RenderValueAs(m =>
        @<text>
            @Html.Raw(m.ServicePeople)
        </text>
        );
    
    col.Add().Titled("Action").Encoded(false).Sanitized(false).RenderValueAs(m =>
        @<text>

            
            @if (File.Exists(Server.MapPath("~/Upload/Attachment/" + (m.AttachmentURL ?? ""))))
            {
                <a target="_blank" href="@Url.Content("~/Upload/Attachment/"+m.AttachmentURL)" title="Attachment"><i class="fa fa-fw fa-file-pdf-o"></i></a>
            }
            <a target="_blank" href="@Url.Content("~/Job/JobCardPreview?JID="+m.JobID)" title="Preview Job Card"><i class="fa fa-fw fa-print"></i></a>
        </text>
        );
}
            ).WithPaging(15, 20)
            
        </div>
    </div>
</div>
@*</div>
    </div>*@
@section scripts
{
    @Scripts.Render("~/bundles/gridmvc")
    
    
}



