@model SMS.Models.Job

@{
    ViewBag.Title = "Manage Job Card";
    var job = Model;
}

<div class="container-fluid">

    <div class="row">
        <div id="PartialWing">
        </div>
        <div class="col-lg-8">
            <h3 style="color:royalblue;"><i class="fa fa-fw fa-file-text"></i> Manage Job Card</h3>
            <div class="panel panel-primary">

                <div class="panel-body">
                    <br />
                    @{

                        if (ViewBag.Info != null)
                        {
                    <!-- Message OK -->
                            <div class="alert alert-info">
                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                                <strong>@ViewBag.Info</strong>
                            </div>
		            <!-- End Message OK -->
                        }
                        else if (ViewBag.Error != null)
                        {
		            <!-- Message Error -->
                            <div class="alert alert-danger">
                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                                <p><strong>@ViewBag.Error</strong></p>
                            </div>
		            <!-- End Message Error -->
                        }
                    }
                    @using (Html.BeginForm("SaveJobCard", "Job", FormMethod.Post, new { @class = "form-horizontal", @enctype = "multipart/form-data", @autocomplete = "off" }))
                    {
                        @Html.HiddenFor(m => m.BusinessUnit)
                        @Html.HiddenFor(m=>m.JobID)
                        <div class="col-lg-6">
                            
                            <div class="form-group">
                                @Html.LabelFor(m => m.JobCardCreateDate, new { @class = "control-label" })
                                <div class="input-group date" style="width:90%;">
                                    @Html.TextBox("JobCardCreateDate", Model.JobCardCreateDate.HasValue?Model.JobCardCreateDate.Value.ToShortDateString():"",
                                new
                                {
                                    @readonly = "true",
                                    @class = "form-control",
                                    @data_provide = "datepicker",
                                    @data_date_autoclose = "true",
                                    @data_date_format = "mm/dd/yyyy",
                                    @style = "cursor:pointer"

                                })
                                    <div class="input-group-addon">
                                        <span class="fa fa-fw fa-calendar"></span>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(t => t.JobCardCreateDate, null, new { @class = "text-danger" })

                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.WingID, new { @class = "control-label" })
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button id="btnManageWing" type="button" class="btn btn-primary">
                                            <i class="fa fa-fw fa-sitemap"></i>
                                        </button>
                                    </span>
                                    @Html.DropDownListFor(t => t.WingID, ViewBag.Wings as SelectList, string.Empty, 
                                    new { @class = "form-control", @style = "width:89%;",
                                        @data_val_required="Revenue Wing is required",@data_val_number="invalid selection",
                                    @data_val="true"})
                                </div>

                                @Html.ValidationMessageFor(t => t.WingID, null, new { @class = "text-danger" })

                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.JobTitle, new { @class = "control-label" })
                                @Html.TextBoxFor(t => t.JobTitle, new { @class = "form-control",@list="lstJobTitle" })
                                @Html.ValidationMessageFor(t => t.JobTitle, null, new { @class = "text-danger" })
                                <datalist id="lstJobTitle">
                                    @foreach(var jt in ViewBag.JobTitles as List<string>)
                                    {
                                        <option value="@jt">@jt</option>
                                    }
                                </datalist>
                            </div>
                            <div class="form-group">
                                @Html.Label("Attachment", new { @class = "control-label" })<br />
                                <input type="file" id="FileToUpload" name="FileToUpload" title="Browse"
                                       data-filename-placement="inside" />
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.BillNo, new { @class = "control-label" })
                                @Html.TextBoxFor(t => t.BillNo, new { @class = "form-control" })
                                @Html.ValidationMessageFor(t => t.BillNo, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.JobNo, new { @class = "control-label" })
                                @Html.TextBoxFor(t => t.JobNo, new { @class = "form-control" })
                                @Html.ValidationMessageFor(t => t.JobNo, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ServiceCharge, new { @class = "control-label" })
                                @Html.TextBoxFor(t => t.ServiceCharge, new { @class = "form-control" })
                                @Html.ValidationMessageFor(t => t.ServiceCharge, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.WorkshopCharge, new { @class = "control-label" })
                                @Html.TextBoxFor(t => t.WorkshopCharge, new { @class = "form-control" })
                                @Html.ValidationMessageFor(t => t.WorkshopCharge, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(m => m.IsTour) <b>Is this Job Card for Tour</b>
                                        @Html.ValidationMessageFor(t => t.IsTour, null, new { @class = "text-danger" })
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <p style="text-align:center;">
                                <button type="submit" class="btn btn-primary" id="btnSubmit">
                                    <i class="fa fa-fw fa-save"></i><i class="fa fa-fw fa-forward"></i> Save and Next Step
                                </button>
                            </p>
                        </div>

                    }


                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <h3 style="color:royalblue;"><i class="fa fa-fw fa-file"></i> Query Info</h3>
            <div class="panel panel-primary">
                <div class="panel-body">
                    <table class="table table-condensed table-striped">
                        <tbody>

                            <tr>
                                <td class="col-lg-4"><label>Query Date</label></td>
                                <td class="col-lg-2">:</td>
                                <td class="col-lg-6">@Html.DisplayFor(m => job.QueryDate)</td>
                            </tr>
                            <tr>
                                <td class="col-lg-4"><label>Customer Name</label></td>
                                <td class="col-lg-2">:</td>
                                <td class="col-lg-6">@Html.DisplayFor(m => job.Customer.Name)</td>
                            </tr>
                            <tr>
                                <td class="col-lg-4"><label>Query For</label></td>
                                <td class="col-lg-2">:</td>
                                <td class="col-lg-6">@Html.DisplayFor(m => job.QueryFor)</td>
                            </tr>
                            <tr>
                                <td class="col-lg-4"><label>Query Type</label></td>
                                <td class="col-lg-2">:</td>
                                <td class="col-lg-6">@Html.DisplayFor(m => job.QueryType)</td>
                            </tr>
                            <tr>
                                <td class="col-lg-4"><label>Query Description</label></td>
                                <td class="col-lg-2">:</td>
                                <td class="col-lg-6">@Html.DisplayFor(m => job.QueryDescription)</td>
                            </tr>
                            <tr>
                                <td class="col-lg-4"><label>Product</label></td>
                                <td class="col-lg-2">:</td>
                                <td class="col-lg-6">@Html.Raw(job.ProductNames)</td>
                            </tr>
                            <tr>
                                <td class="col-lg-4"><label>Status</label></td>
                                <td class="col-lg-2">:</td>
                                <td class="col-lg-6">@Html.DisplayFor(m => job.Status)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ajax")
    <script type="text/javascript">
        $('input[type=file]').bootstrapFileInput();
        $("#btnManageWing").click(
            function () {
                $.ajax(
                 {
                     type: 'GET',
                     url: '/Account/ManageWing',
                     datatype: 'html',
                     success: function (result) {
                         $("#PartialWing").html(result);
                         $("#DialogWing").modal();
                     }
                 }
                 );
            }
       );
        function RefreshWingList() {
            location.reload();
        }
    </script>
}


